nav.nav
    .gnb-container
        .gnb-logo
            a(href=routes.home)
                img(href="https://i.pinimg.com/originals/58/d1/90/58d190a15b6350ed7fee7d5e810f9a0d.png")
        .gnb
            ul
                li
                    a(href=routes.band) BAND
                li
                    a(href=routes.info) INFO
                li
                    a(href=routes.tour) TOUR
                li
                    a(href=routes.album) ALBUM
                li
                    a(href=routes.shop) SHOP
                li
                    a(href=routes.login) LOGIN